{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-1 signout">
      <h1>{% trans "Sign Out" %}</h1>
      <p>Signed as <span class="text-white">{{ user }}</span></p>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" class="d-flex justify-content-start" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="custom-btn"><span>{% trans 'Sign Out' %}</span></button>
        <a href="{% url 'home' %}" class="custom-btn ms-1" aria-label="Go to Home Page"><span>No, take me
            back!</span></a>
      </form>
    </div>
  </div>
</div>





{% endblock %}