@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
/* #### General Styling #### */

:root {
    --main-gray: rgb(39,49,62);
    --highlight-gray: rgb(50,61,77);
    --dark-gray: rgb(28,39,50);
    --text-gray: rgb(118,118,118);
    --highlight-blue: rgb(91,191,186);
    --cream: rgb(191, 192, 192);
    --white: rgb(229,229,229);
    --black-texture-background:
        radial-gradient(at top left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 255, 0) 40%),
        radial-gradient(at bottom left, rgba(0, 0, 0, .5) 10%, rgba(0, 0, 255, 0) 60%),
        radial-gradient(at top right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 255, 0) 60%),
        radial-gradient(at bottom right, rgba(0, 0, 0, .5) 10%, rgba(0, 0, 255, 0) 50%),
        linear-gradient(var(--dark-gray), var(--dark-gray));
    --html-orange:rgb(247,98,28);
    --css-blue:rgb(0,167,221);
    --js-yellow:rgb(247,193,52);
}

body{
    background: var(--highlight-gray);
}

.highlight-blue{
    color: var(--highlight-blue);
}

.custom-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cream);
    background: none;
    height: 40px;
    width: 150px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.custom-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: var(--black-texture-background);
}

.custom-btn::after{
    content: "";
    width: 100%;
    height: 300%;
    border-radius: 50%;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 1;
    background: var(--cream);
    opacity: 0;
    transform: scale(0);
    transition: .5s all ease-out;
}

.custom-btn:hover::after{
    opacity: 1;
    transform: scale(2);
}


.custom-btn p{
    pointer-events: none;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .8em;
    color: var(--cream);
    position: relative;
    z-index: 3;
    transition: .5s all ease-out;
}

.custom-btn:hover p{
    color: var(--dark-gray);
}


/* navbar */
nav{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: var(--main-gray);
    position: fixed;
    z-index: 3;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: auto;
}

nav button{
    height: 21px;
    width: 21px;
    border: none;
    padding: 0;
    position: relative;
    background: none;
}

nav button span{
    position: absolute;
    background: white;
    height: 2px;
    border-radius: 4px;
    left: 1.5px;
    transition: all 1s ease-in;
}

nav button span:first-child{
    top: 6px;
    width: 12px;
}

nav button span:nth-child(2){
    top: 10px;
    width: 18px;
}

nav button span:last-child{
    width: 12px;
    top: 14px;
    left: 7.5px;
}

nav .links{
    position: absolute;
    background: inherit;
    min-height: calc(100vh - 40px);
    min-width: 40%;
    top: 40px;
    right: -40%;
    transition: all 1s ease-in-out;
}

nav .links ul{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

nav .links ul li{
    display: inline;
}

nav .links ul li a{
    margin: 8px 0 0;
}


.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 1s ease-in;
}

    /* Navbar open */

nav[data-open="true"] .links{
    right: 0%;
}

.overlay[data-open="true"]{
    opacity: 1;
    pointer-events: all;
}

nav[data-open="true"] button span:first-child{
    top: 7.5px;
    left: 2.5px;
    transform: rotate(225deg);
}

nav[data-open="true"] button span:nth-child(2){
    top: 10px;
    transform: rotate(135deg);
}

nav[data-open="true"] button span:last-child{
    top: 12.5px;
    left: 7px;
    transform: rotate(225deg);
}

/* footer */

footer{
    width: 100%;
    height: 75px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
}

footer p{
    margin: 0;
    font-size: 18px;
    color: var(--white);
}

footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links a i{
    color: var(--white);
    font-size: 22px;
    margin:0 3px;
}

/* #### Index #### */

/* Main banner */

.main-banner{
    margin-top: 40px;
    background:var(--black-texture-background);
    min-height: calc( 100vh - 40px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}

.main-banner h1{
    width: 100%;
}

.main-banner h1 span{
    color: var(--white);
    font-size: 47px;
}

.main-banner h1 span:first-child{
    display: block;
}

.main-banner h1 .cursor{
    position: relative;
    color: rgba(255, 255, 255, 0);
}
.main-banner h1 .cursor::before{
    position: absolute;
    opacity: 1;
    content: "";
    top: 10px;
    left: 5px;
    height: 47px;
    width: 30px;
    background: white;
    position: absolute;
    animation: blink 1.3s infinite;
}

.main-banner p{
    max-width: 80%;
    color: var(--text-gray);
    margin-top: 3rem;
    margin-bottom: 7rem;
}

/* Preview Cards */

.new-components-title{
    text-align: center;
}

.new-components-title h2,
.new-components-title i,
.new-components-title p{
    color: var(--white);
}

.new-components-title h2,
.new-components-title i{
    font-size: 2rem;
}

.preview-card{
    background:var(--black-texture-background);
    width: 100%;
    min-height: 450px;
    height: 55vh;
    max-height: 600px;
    margin: .75rem 0;
    border-radius: 4px;
    border: 1px solid var(--dark-gray);
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.preview-card .preview-card-header{
    width: 100%;
    max-height: 170px;
    background:var(--black-texture-background);
    display: grid;
    grid-template-areas: 
    "title title"
    "author author"
    "updatedOn updatedOn"
    "link fullScreen";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 10px;
    padding: 10px 5px;
}

.preview-card .preview-card-header h3{
    grid-area: title;
    text-align: center;
    margin: 0;
    color: var(--white);
}

.preview-card .preview-card-header p{
    margin: 0;
    color: var(--text-gray);
}

.preview-card .preview-card-header .author{
    grid-area: author;
}

.preview-card .preview-card-header .updated-on{
    grid-area: updatedOn;
    margin-bottom: 1rem;
    font-size: 13px;
}

.preview-card .preview-card-header .custom-btn{
    height: 35px;
    width: 110px;
}

.preview-card .preview-card-body{
    width: 100%;
    flex-grow: 1;
    background: var(--white);
}

.preview-card .preview-card-body textarea{
    display: none;
}

.preview-card .preview-card-body iframe{
    height: 100%;
    width: 100%;
}

/* #### Post Detail #### */
/* Code editor */
.code-editor{
    margin-top: 40px;
    width: 100%;
    min-height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 155px 1fr;
}

.code-editor[data-open="true"]{
    grid-template-rows: 155px 1fr 1fr;
}

.code-editor .code-editor-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title title title"
    "author author author"
    "date date date"
    "htmlBtn cssBtn jsBtn";
    background: var(--black-texture-background);
    color: var(--white);
}

.code-editor .code-editor-header h1{
    grid-area: title;
    margin: 0;
    text-align: center;
}

.code-editor .code-editor-header p{
    margin: 0 0 0 8px;
}

.code-editor .code-editor-header .author{
    grid-area: author;
}

.code-editor .code-editor-header .updated-on{
    grid-area: date;
}

.code-editor .code-editor-header #htmlBtn{
    grid-area: htmlBtn;
}

.code-editor .code-editor-header #cssBtn{
    grid-area: cssBtn;
}

.code-editor .code-editor-header #jsBtn{
    grid-area: jsBtn;
}

.code-editor .code-editor-header .code-editor-btn{
    border: none;
    color: var(--text-gray);
    font-weight: 600;
    background: var(--dark-gray);
}

.code-editor .code-editor-header .code-editor-btn#htmlBtn:hover span,
.code-editor .code-editor-header .code-editor-btn#htmlBtn[data-open="true"] span{
    color: var(--html-orange);
}

.code-editor .code-editor-header .code-editor-btn#cssBtn:hover span,
.code-editor .code-editor-header .code-editor-btn#cssBtn[data-open="true"] span{
    color: var(--css-blue);
}

.code-editor .code-editor-header .code-editor-btn#jsBtn:hover span,
.code-editor .code-editor-header .code-editor-btn#jsBtn[data-open="true"] span{
    color: var(--js-yellow);
}

.code-editor .code-editor-header .code-editor-btn:hover span{
    transition: all 1s ease-out;
}

.code-editor .code-editor-header .code-editor-btn[data-open="true"]{
    background: var(--main-gray);
    color: var(--white);
}

.code-editor .code-editor-code{
    display: none;
}

.code-editor[data-open="true"] .code-editor-code{
    display: flex;
}

.code-editor .code-editor-code textarea{
    resize: none;
    width: 100%;
    height: calc(100% - 10px);
    margin: 5px 3px;
    padding: 3px 4px;
    display: none;
    border: none;
    border-radius: 3px;
    background: var(--black-texture-background);
    color: var(--white);
    font-size: 12px;
}

.code-editor .code-editor-code textarea[data-open="true"]{
    display: inline-block;
}

.code-editor .code-editor-code textarea:focus-visible{
    outline: none;
}

.code-editor .code-editor-iframe{
    min-height: 300px;
}

.code-editor .code-editor-iframe iframe{
    width: 100%;
    height: 100%;
    background: white;
}

/* Comments */
.comments h2{
    text-align: center;
    color: white;
}

.comment-card{
    background: var(--main-gray);
    width: 100%;
    min-height: 120px;
    height: auto;
    margin: 3px 0px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.comment-card div{
    background: var(--dark-gray);
    width: 100%;
    height: 30px;
    padding:0 10px;
    color: var(--text-gray);
}

.comment-card div p{
    margin: 0;
}
.comment-card .comment-header p{
    font-size: 16px;
}

.comment-card .comment{
    flex-grow: 1;
    padding: 5px 7px;
    font-size: 14px;
}

.comment-card .comment-footer{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.comment-card .comment-footer p{
    font-size: 12px;
}

.comment-card div p span,
.comment-card .comment{
    color: var(--white);
}

/* #### Authentication pages #### */
.auth{
    margin-top: 40px;
    min-height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth .auth-card{
    background: var(--black-texture-background);
    min-height: 350px;
    width: 300px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.auth .auth-card .card-header{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 75px;
    text-align: center;
    color: var(--white);
    border-radius: 0 0 50% 50%;
}

.auth .auth-card .auth-desc{
    color: var(--text-gray);
    padding: 0 7px;
    margin: 17px 0;
}

.auth .auth-card .auth-desc a{
    color: var(--white);
}

.auth .auth-card form{
    background: red;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.auth .auth-card form p{
    position: relative;
    background: green;
}

.auth .auth-card form button{
    margin-top: auto;
    margin-bottom: 5px;
}


/* #### MediaQueries #### */

/* small devices */
@media (min-width: 576px) { 
    /* #### Index #### */
    /* Main banner */

    .main-banner{
        align-items: center;
    }

    .main-banner h1{
        text-align: center;
    }

    .main-banner h1 span{
        font-size: 70px;
    }
    .main-banner h1 .cursor::before{
        top: 14px;
        height: 70px;
        width: 40px;
    }
    .main-banner p{
        font-size: 1.4rem;
        max-width: 90%;
    }

    /* Preview Cards */
    .new-components-title h2,
    .new-components-title i{
        font-size: 2.5rem;
    }
}


/* medium devices */
@media (min-width: 768px){
    /* navbar */
    nav button{
        display: none;
    }
    nav .links{
        position: relative;
        min-height: auto;
        min-width: auto;
        top: 0;
        right: 0;
        display: block;
        transition: none;
    }
    nav .links ul{
        flex-flow: row;
        align-items: center;
        margin-bottom: 0;
    }
    nav .links ul li a{
        margin: 0 8px 0;
    }
    .overlay{
        display: none;
    }

    /* #### Index #### */
    /* Main banner */

    .main-banner h1 span{
        font-size: 94px;
    }
    .main-banner h1 .cursor::before{
        top: 18px;
        height: 93px;
        width: 55px;
    }
    .main-banner p{
        font-size: 1.6rem;
        max-width: 85%;
    }

    /* Preview Cards */
    .new-components-title h2,
    .new-components-title i{
        font-size: 3rem;
    }
}

/* #### Animations #### */

@keyframes blink{
    0%{
        opacity: 0;
    }
    49%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}