{% extends "base.html" %}
{% load static %}
{% block title %}Add Post{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-12 col-md-10 offset-md-1 create-edit-post">
            <h1>Add a new component</h1>
            <div class="form-group">
                <form method="POST" class="mb-5">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center">
                        <button id="preview-code" class="custom-btn"><span>Preview your code</span></button>
                        <button type="submit" class="custom-btn"><span>Submit</span></button>
                    </div>
                </form>
            </div>
            <div class="create-edit-iframe-container d-flex flex-column justify-content-start align-items-center">
                <h2 class="my-3">Code Preview</h2>
                <iframe src="{% url 'canvas' %}" title="blank canvas"></iframe>
            </div>
        </div>
        {% else %}
        <div class="col-12 fill-screen">
            <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                <div class="alert alert-danger" role="alert">
                    Sorry, only <span class="fw-bold">Registed users</span> can write posts.
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>



{%endblock%}

{% block page_scripts %}
  <script src="{% static 'js/add_edit_post.js' %}"></script> 
{% endblock %}