{% extends "base.html" %}
{% load static %}
{% block title %}Add Category{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 create-edit-post">
            <h1>Add a new category</h1>
            {% if user.is_superuser %}
            <div class="form-group">
                <form method="POST" class="mt-5 d-flex flex-column align-items-center justify-content-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="custom-btn"><span>Submit</span></button>
                </form>
            </div>
            {% else %}
            <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                <div class="alert alert-danger" role="alert">
                    Sorry, only <span class="fw-bold">the admin</span> can create new categories.
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>



{%endblock%}
