{% extends "base.html" %}
{% block title %}- Delete Category - {{ category.name|capfirst }}{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 create-edit-post">
            {% if user.is_superuser %}
            <h1>Delete category</h1>
            <h3>Delete {{ category.name }}</h3>
            <div class="form-group">
                <form method="POST" class="mb-5">
                    {% csrf_token %}
                    <strong>Are you sure you want to delete this category? This process is irreversible.</strong>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="custom-btn mt-5" aria-label="Submit"><span>Submit</span></button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                <div class="alert alert-danger" role="alert">
                    Sorry, only <span class="fw-bold">the admin</span> can view this page.
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>





{%endblock%}