{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col main-banner">
                <h1><span>Share your</span><span id="title-word"></span><span class="cursor">.</span></h1>
                <p>Upload your components created in <span class="highlight-blue">HTML</span>, <span class="highlight-blue">CSS</span> and <span class="highlight-blue">JavaScript</span>. Share your ideas, get inspiration from other users and join the coversation!</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col new-components-title">
                <h2>Leatest Components</h2>
                <p>This were the latest components created by the community, copy and pastem into you projects!</p>
            </div>
        </div>
    </div>

{%endblock%}