{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col main-banner">
                <h1>{{ Post }}</h1>
                <h1><span>Share your</span><span id="title-word"></span><span class="cursor">.</span></h1>
                <p>Upload your components created in <span class="highlight-blue">HTML</span>, <span class="highlight-blue">CSS</span> and <span class="highlight-blue">JavaScript</span>. Share your ideas, get inspiration from other users and join the coversation!</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2 new-components-title">
                <h2>Leatest Components</h2>
                <i class="fa-solid fa-bolt"></i>
                <p>This were the latest components created by the community, copy and paste them into you projects!</p>
            </div>
        </div>
        <div class="row">
            {% for post in post_list %}
                {% if forloop.counter <= 6 %}
                <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4">
                    <div class="preview-card">
                        <div class="preview-card-header">
                            <h3>{{ post.title }}</h3>
                            <p class="author">Author: {{ post.author }}</p>
                            <p class="updated-on">Last modified: {{ post.updated_date}}</p>
                            <a href="{% url 'post_detail' post.slug %}" class="custom-btn black"><p>View Code</p></a>
                            <button class="custom-btn black"><p>Full Screen</p></button>
                        </div>
                        <div class="preview-card-body">
                            <textarea data-code-html >{{ post.html_content }}</textarea>
                            <textarea data-code-css >{{ post.css_content }}</textarea>
                            <textarea data-code-js >{{ post.js_content }}</textarea>
                            <iframe src="canvas.html" title="blank canvas"></iframe>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



    

{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/index.js' %}"></script> 
{% endblock %}