{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div id="code-editor" class="code-editor" data-open="true">
                <div class="code-editor-header">
                    <h1>{{ post.title}}</h1>
                    <p class="author">Created by: {{ post.author}}</p>
                    <p class="updated-on">Last modified: {{ post.updated_date}}</p>
                    <button id="htmlBtn" class="code-editor-btn" data-open="true" data-code-type="html"><span>&lt</span>HTML<span>&gt</span></button>
                    <button id="cssBtn" class="code-editor-btn" data-open="false" data-code-type="css"><span>{</span>CSS<span>}</span></button>
                    <button id="jsBtn" class="code-editor-btn" data-open="false" data-code-type="js"><span>(</span>JS<span>)</span></button>
                </div>
                <div class="code-editor-code">
                    <textarea name="htmlCode" id="htmlCode" data-open="true" data-code-type="html">{{ post.html_content }}</textarea>
                    <textarea name="cssCode" id="cssCode" data-open="false" data-code-type="css">{{ post.css_content }}</textarea>
                    <textarea name="jsCode" id="jsCode" data-open="false" data-code-type="js">{{ post.js_content }}</textarea>
                </div>
                <div class="code-editor-iframe">
                    <iframe src="https://cilliagustin.github.io/blank-website/" title="blank canvas"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 comments">
            <h2>Comments</h2>
        </div>
        <div class="col-12 col-lg-8">
            {% for comment in comments %}
                <div class="comment-card">
                    <div class="comment-header">
                        <p class="author"><span>{{ comment.author }}</span> wrote:</p>
                    </div>
                    <p class="comment">{{ comment.body }}</p>
                    <div class="comment-footer">
                        <p class="date">Written on {{ comment.created_on }}</p>
                    </div>
                </div>
            {% empty %}
            <div class="comment-card">
                <div class="comment-header">
                    <p class="author"><span>This post does not have any comments yet...</span></p>
                </div>
                <p class="comment">Write the first comment to start the conversation!</p>
                <div class="comment-footer"> 
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-4">
            <!-- add form after authentication -->
        </div>
    </div>
</div>

{%endblock%}