{% extends "base.html" %}
{% load static %}
{% block title %}- Post - {{ post.title }}{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div id="code-editor" class="code-editor" data-open="true">
                <div class="code-editor-header">
                    <h1>{{ post.title}}</h1>
                    <p class="author">Created by: {{ post.author}}</p>
                    <p class="updated-on">Last modified: {{ post.updated_date}}</p>
                    {% if user.is_authenticated %}
                    <div class="edit-fav-container d-flex justify-content-center align-items-center">
                        {% if user.username == post.author.username %}
                        <a href="{% url 'edit_post' post.slug %}" class="custom-btn blue"><p>Edit Post <i class="fa-solid fa-pencil"></i></p></a>
                        <a href="{% url 'delete_post' post.slug %}" class="custom-btn red"><p>Delete Post <i class="fa-regular fa-circle-xmark"></i></p></a>
                        {% endif %}
                        <form class="d-inline" action="{% url 'post_favorite' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if is_favorite %}
                                <button type="submit" class="custom-btn yellow-inverted"><p>Favorite <i class="fa-solid fa-star"></i></p></button>
                            {% else %}
                                <button type="submit" class="custom-btn yellow"><p>Add to Favorite <i class="fa-regular fa-star"></i></p></button>
                            {% endif %}
                        </form>
                    </div>
                    {% endif %}
                    <button id="htmlBtn" class="code-editor-btn" data-open="true" data-code-type="html"><span>&lt</span>HTML<span>&gt</span></button>
                    <button id="cssBtn" class="code-editor-btn" data-open="false" data-code-type="css"><span>{</span>CSS<span>}</span></button>
                    <button id="jsBtn" class="code-editor-btn" data-open="false" data-code-type="js"><span>(</span>JS<span>)</span></button>
                </div>
                <div class="code-editor-code">
                    <textarea name="htmlCode" id="htmlCode" data-open="true" data-code-type="html">{{ post.html_content }}</textarea>
                    <textarea name="cssCode" id="cssCode" data-open="false" data-code-type="css">{{ post.css_content }}</textarea>
                    <textarea name="jsCode" id="jsCode" data-open="false" data-code-type="js">{{ post.js_content }}</textarea>
                </div>
                <div class="code-editor-iframe">
                    <iframe src="canvas.html" title="blank canvas"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="col-12 comments">
                <h2>Comments</h2>
            </div>
            {% for comment in comments %}
                <div class="comment-card">
                    <div class="comment-header">
                        <p class="author"><span>{{ comment.name }}</span> wrote:</p>
                    </div>
                    <p class="comment">{{ comment.body }}</p>
                    <div class="comment-footer">
                        <p class="date">Written on {{ comment.created_on }}</p>
                    </div>
                </div>
            {% empty %}
            <div class="comment-card">
                <div class="comment-header">
                    <p class="author"><span>This post does not have any comments yet...</span></p>
                </div>
                <p class="comment">Write the first comment to start the conversation!</p>
                <div class="comment-footer"> 
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-4 user-comment">
            <h2>Leave a comment:</h2>
            {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
            {% else %}
            {% if user.is_authenticated %}
            <p>Posting as <span>{{ user.username }}</span></p>
            <form method="POST">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="custom-btn"><p>Submit</p></button>
            </form>
            {% else %}
            <p>Please <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">Login</a> to comment.</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}

{% block page_scripts %}
  <script src="{% static 'js/post_detail.js' %}"></script> 
{% endblock %}